.form {
    width: 250px;
    height: 430px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 200px;
    left: 600px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: green;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid green;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: green;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: green;
}

.btnn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.form .link a {
    text-decoration: none;
    color: green;
}

.log {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: green;
}

   /* Media query for mobile devices */
   @media only screen and (max-width: 600px) {
    .form {
        width: 90%;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Media query for tablet devices */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .form {
        width: 70%;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Media query for PC devices */
@media only screen and (min-width: 993px) {
    .form {
        width: 250px;
        top: 200px;
        left: 600px;
        transform: translateX(-50%);
    }
}

/* Media query for TV devices */
@media only screen and (min-width: 1200px) {
    .form {
        width: 800px;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
}